<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://172.17.0.1:3306/learndeploywithdocker</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <mapping class="ru.atom.hibernateentities.Author"/>
        <mapping class="ru.atom.hibernateentities.Reader"/>
        <mapping class="ru.atom.hibernateentities.Book"/>
        <mapping class="ru.atom.hibernateentities.Reading"/>
    </session-factory>
</hibernate-configuration>